.Navbar_main_container{
    display: flex;
    border: 1px solid rgb(238, 236, 236) ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    position: fixed;
    z-index: 100;
}
.Navbar_logo_div img{
    width: 188px;
    height: 40px;
    cursor: pointer;
}
.Navbar_routes_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.Navbar_routes_div div{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
}
.Navbar_routes_div div:hover{
 background-color: rgb(194, 193, 193);
}

.Navbar_routes_div i{
    font-size: 25px;
}