.Resiter_main_div{
    border: 1px solid;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 10px;
}
.mail_div input{
    height: 20px;
    width: 80%;
    border: 0.5px solid;
    padding: 15px 2px;
    margin-top: 15px;
}
.Name_div input{
    height: 20px;
    width: 45%;
    border: 0.5px solid;
    padding: 15px 2px;
    margin-top: 15px;
    /* margin-left: ; */
}
.mail_div button{
    /* height: 20px; */
    width: 45%;
    border: 0.5px solid;
    padding: 10px 2px;
    margin-top: 15px;
    background-color: black;
    color: white;
}
.Name_div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}